/* Default */
@import './common.css';

body {
  width: 300px;
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: #222; /* Dark background */
  color: #eee; /* Light text */
}
button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #3367d6;
}
.status {
  margin-top: 10px;
  color: #4285f4;
  font-style: italic;
}

/* Switch - box around the slider */
.switch {
  margin-left: 0%;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  background-color: #555; /* Darker gray for slider background */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.secret {
  background-color: #333;
  color: #eee;
  border: 1px solid #555;
  padding: 8px;
  border-radius: 5px; /* Rounded corners like the slider */
  height: 28px; /* More consistent with the slider height */
  width: 100%; /* Better width proportion */
  outline: none; /* Remove focus outline */
  display: block; /* Make it full width */
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  transition: border-color 0.3s; /* Smooth transition on focus */
}

.secret:focus {
  border-color: #2196f3; /* Match the active slider color when focused */
}

.button-link {
  margin: 10px;
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: Inter, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.my-center {
  @apply w-full inline-flex items-center justify-center;
}

.my-button-link {
  @apply text-indigo-400 m-1.5 px-3 py-1 text-xs outline-none focus:outline-none ease-linear transition-all duration-150
}